@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Check out the movies <a asp-controller="Movie" asp-action="Index">here</a>.</p>
</div>
